<div class="home-page" ng-controller="HomeController">
  <h2 class="home-branding">
    INSURE
  </h2>

  <div ng-show="step === 0">
    <div class="get-name-and-age">
      Hi.. I am Alex.
      What is your name? <input type="text" ng-model="userName" placeholder="Your name?"/><br/>
      What is your age? <input type="text" ng-model="dob" placeholder="28?" required/>
    </div>

    <div class="next-button" ng-show="userName.length > 0 && dob.length >= 2">
        <button ng-click="getInsuForm(1)">
          What next?
        </button>
    </div>
  </div>

  <div ng-show="step === 1">
    <div>
      <p>Hi {{userName}}. <br/>I am 27. I am working in the insurance domain for 5 years now.<br/>
        {{userName}}, lets together figure out an efficient insurance plan you!</p>

      <p>
        If you dont mind, what is your email ID. I may need it to contact you. <input type="text" ng-model="email" placeholder="XXX@YYY.com"/>
      </p>
    </div>

    <div class="next-button" ng-show="email.length > 4">
      <p>
        Lets figure out what type of insurance you need.
      </p>
      <button ng-click="getInsuForm(2)">
        Ok!
      </button>
    </div>
  </div>

  <div ng-show="step === 2">
    <div class="get-what-insu">
      <p>What insurance are you looking for <p/>

      <ul class="list insuTypesList">
        <li ng-repeat="insuranceType in insuranceTypes" ng-click="selectInsuType(insuranceType)">
          {{insuranceType.name}}
          <img ng-src="{{insuranceType.img}}"/>
        </li>
      </ul>
      <br/>
      <p>You to to buy it for</p>

      <ul class="list insuTypesList">
        <li ng-repeat="insuranceForItem in insuranceForList" ng-click="selectInsuType(insuranceForItem)">
          {{insuranceForItem.name}}
          <img ng-src="{{insuranceForItem.img}}">
        </li>
      </ul>

    </div>
    <div class="next-button">
      <button ng-click="getInsuForm(3)">
        Quote?
      </button>
    </div>
  </div>

  <div ng-if="step === 3">
    <ul ng-show="insuSelected === insuranceTypes[0]">
      <li ng-repeat="medInsuPlan in medInsuPlans ">
        {{medInsuPlan}}
      </li>
    </ul>

    <ul ng-show="insuSelected === insuranceTypes[1]">
      <li ng-repeat="medInsuPlan in medInsuPlans ">
        {{medInsuPlan}}
      </li>
    </ul>
  </div>

  <button ng-show="step > 0" ng-click="goBack()">Back</button>
</div>
