body {
    /*background-color: #00b3ee;*/
    color: #00b3ee;
    border-color: #d43f3a;
}

button {
    background-color: #00b3ee;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.font-size-brand {
    font-size: 40px;
}
.font-size-large {
    font-size: 30px;
}

.font-size-medium {
    font-size: 25px;
}

.font-size-small {
    font-size: 18px;
}

.top-padding-20 {
    padding-top: 20px;
}

.home-page {
    .home-branding {
        text-align: center;
    }

    .get-name-and-age {
        text-align: center;
        padding: 20px;
    }

    .get-what-insu {
        text-align: center;
        padding: 20px;
    }

    .next-button {
        text-align: center;
        padding: 20px;
    }
}

input, select {
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    background-color: transparent;
    border-color: #d43f3a;
    color: #3c763d;
}

p {
    text-align: center;
}

.list {
    list-style: none;

    li {
        display: inline-block;
    }
}

.insuTypesList {
    li {
        padding: 10px;
        margin: 10px;
        width: 300px;
        height: 300px;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px #00b3ee;

        img {
            width: 150px;
            display: block;
            margin: auto;
        }
    }
    .selected {
        box-shadow: 0px 0px 0px 2px #00b3ee;
    }
}

.insurance-plans {
    list-style: none;

    .insurance-plan {
        float: left;
        margin: 20px 20px;
        border: 1px solid;
        height: 390px;
        padding: 20px;
        background-color: white;
        color: #00b3ee;

        .med-plan {
            width: 220px;
            display: inline-block;
        }
    }
}

.gender-select-icons {
    width: 30px;
}

.genderselected {
    width: 50px;
}

.gender-female-flowers {
}

.flowerback {
    /*background-image: url("/modules/core/client/img/insuTypes/flower.png");
    background-repeat: no-repeat;
    background-position: center;*/
}

.adds {
    position: absolute;
    width: 200px;
    height: 100px;
    color: #3c763d;
    font-size: 14px;
}

.left-quotes-top {
    top: 100px;
    left: 20px;
}

.left-quotes-top {
    bottom: 20px;
    left: 20px;
}

.right-quotes-top {
    top: 100px;
    right: 20px;
}

.right-quotes-bottom {
    bottom: 20px;
    right: 20px;
}

.take-tour-button {
    margin: 40px auto;
    width: 200px;
}

.insu-title {
    cursor: pointer;
    padding-bottom: 2px;
    margin-bottom: 22px;
    border-bottom: 1px #d43f3a solid;
}
